html, body{
  min-height:100vh;
  height: 100%;
}
.dark-mode{
  background-color: black;
  color:white;
  height:100vh;
  transition: background-color 0.25s ease-in-out;
}
.light-mode{
  background-color: white;
  color:black;
  height:100vh;
  transition: background-color 0.25s ease-in-out;
}